// Materialize
@import '~materialize-css/dist/css/materialize.min.css';

.profile{
    width: 50%;
    margin: 0 auto;

    .profileIconDiv {
        position: relative;
        display: inline-block;

        .profileIcon {
            display:block;
            width: 100px;
            height: 100px;
        }

        .level {
            position: absolute;
            background-color: rgba(24, 23, 23, 0.781);
            border-radius: 20%;
            color: white;
            font-weight: bold;
            left: 50%;
            bottom: 0;
            transform: translate(-50%);
            padding-left: 2px;
            padding-right: 2px;
        }
    }
}

.card {
    min-height: 220px;
}


